useDynLib(smcUtils)

export(resample,
       renormalize,
       ess.weights,
       cov.weights,
       ent.weights,
       stratified.resample,
       residual.resample,
       multinomial.resample,
       systematic.resample,
       branching.resample)

export(renormalize.weights)
